<div class="center">
  <div id="social-test">
  <h1 style="color:#fff">Shoot 'Em Up Maker</h1>
  <p class="credits">Create shoot 'em ups even if you're not a programmer.</p>
  <ul class="social">
    <li><a href="https://facebook.com/ShootEmUpMaker"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/Rosalila/ShootEmUpMaker"><i class="fab fa-github" aria-hidden="true"></a></i></li>
    <li><a href="https://discordapp.com/invite/fGBbQZ8"><i class="fab fa-discord" aria-hidden="true"></a></i></li>
    <!--
    <li><a href="https://twitter.com/colorlib"><i class="fab fa-twitter" aria-hidden="true"></a></i></li>
    <li><a href="https://instagram.com/colorlib"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/c/Colorlib"><i class="fas fa-youtube" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></a></i></li>
    -->
  </li>
  </ul>
  <p class="credits"><a href="https://github.com/Rosalila/ShootEmUpMaker#rosalila-shoot-em-up-maker">Click here</a> to get started.</p>
  </div>
</div>